#main{
    font-family: arial,sans-serif;
    height: auto;
}

#navbar{
    display: grid;
    grid-template-columns: auto auto 100px;
}

#navbar a{
    padding:5px;
    text-decoration: none;
    font-size: small;
    
}

 #navbar a:hover{
   text-decoration: underline;
    
}


#left-nav{
    text-align: left;
    margin-top: 5px;

}
#right-nav{
    text-align: right;
    margin-top: 5px;

}

#icon-nav{
    display: inline-block;
    text-align: right;
}

#icon-nav a:hover{
    box-shadow: green;
    text-decoration: none;
    box-shadow: 5px 10px #eee;

}



#img-icon{
    width:30px;
    border-radius: 50%;
    display: inline-block;

}

#img-profile{
    width:30px;
    border-radius: 50%;
    display: inline-block;
}


#logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    margin-top: 260px;
    margin-bottom: auto;
}

#search-bar{
    display: flex;
    width: 550px;
    height: 40px;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-radius: 30px;
    border-color: #ececec;
    padding-left: 5px;
    
}

#search{
    width: 530px;
    height: 38px;
    border-radius: 30px;
    border-style: none;
    margin-top: 0px;
    border-color: #ececec;
    outline: none;
    font-size: 16px;
    

}

#search-bar :hover{
    box-shadow: 2px 2px 5px #dfdfdf;
    outline: none;
}


#search-icon{
    width: 18px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    

}

